@inherits LayoutComponentBase

<div class="text-center text-black fw-bold p-2">
    <span class="navbar-brand m-lg-1">Bookstore Administration</span>
</div><br />

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary p-2 m-2" href="/admin/books" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                <NavLink class="btn btn-outline-primary p-2 m-2" href="/admin/custinfo" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Customer Orders</NavLink>
            </div>
        </div>

        <div class="col">
            @Body
        </div>

    </div>

</div>