@page "/admin"

@model book.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(book.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>