@page
@model book.Pages.ConfirmationModel
@{
}

<div class="text-center p-2 m-2">
    <h2>Thank you, your order has been placed. Enjoy your Books!</h2><br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
